<!DOCTYPE html>
<html>
<head>
    <title>요거트 폼 미쳐따🥨</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>요거트 폼 미쳐따✨</h1>
    <p>💬 몬플 토핑 추천해유 💬</p>
    <p>토핑 개수를 선택하세요🙏🏻</p>
    <form method="POST" action="/">
        <br/>
        <label><input type="radio" name="topping-num" value="1" checked> 1개 🍓</label>
        <label><input type="radio" name="topping-num" value="2"> 2개 🍑</label>
        <label><input type="radio" name="topping-num" value="3"> 3개 🍌</label>
        <label><input type="radio" name="topping-num" value="4"> 4개 🥝</label>
        <br><br>
        <input type="submit" value="추천 받기💗">
    </form>
</body>
</html>